*{
    margin: 0;
    box-sizing: border-box;
}

.f1{font-family: "Cabin", sans-serif;}
.f2{font-family: "Questrial",sans-serif;}

.todasaspaginas{ background-color: #0B0016; overflow: scroll;}

#Pagina1 {
    height: 92vh;
    background-image: url(img/imagem_fundo.webp);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    padding: 1%;
}

.imagemicone{height: 10vh; width: 20%; color: #d6a04c;}
#p1menu:checked ~ #p1divmenu{display: block;}
#p1divmenu{ z-index: 3; height: 100vh; width: 345px; background-color: #1E1E1E; margin-left: 70%; position: fixed; position: absolute; display: none; margin-top: -30%; margin-bottom: 20%;}

#p1menu{ z-index: 4; height: 100%; width: 100%; background-color: #d6a04c; position:absolute; opacity: 0; }
.botao-opçoes span {position: relative;}
#simbolo{height: 20%; width: 20%;}
#p1divmenu li{color: #fff; font-size: 20px; list-style: none;}
.header {
    height: 10vh;
}

header img {
    margin-top: 2vh;
    margin-left: 15.3%;
    vertical-align: middle;
    margin-bottom: 2vh;
}

header a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin-left: 40%;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#botao-get-free-quote{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d6a04c;
    font-size: 15px;
    padding: 15px;
    margin-top: 2vh;
    margin-left: 1%;
    vertical-align: middle;
    margin-bottom: 2vh;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#botao-get-free-quote:hover{
    background-color: transparent;
    border: #d6a04c 1px solid;
    color: #d6a04c;
}
#botao-opçoes{display: inline-block;
margin-left: 2%;
width: 2.5%;
position: relative;
}
#botao-opçoes>span{display: inline-block;
width: 100%;
border: solid white 1px;
}

.ii1{color: aliceblue;color: #E9E3D9;
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 67vh;
    display: block;}

.ii2{ color: aliceblue;
    font-size: 60px;
    font-weight: 400;
    color: #fff;
    line-height: 1.2;
    width: 500px;
    margin-left: 50vh;

    text-align: left;
    
}
.bacalhau{color: #fff; opacity: 100%; margin-left: -90%; margin-bottom: -50%; font-size: 20px; }

#play svg
{
  height: 36px;
  fill: #d6a04c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#play
{
    vertical-align: middle;
    display: inline-block;
    height: 70px;
    margin-left: 30px;
    width: 70px;
    background-color: white;
    border-radius: 50%;
    position: relative;
}

#video
{
    position: absolute;
    right: 2%;
    top: 40%;
    padding-right: 18%;
    margin-top: 3%;
}

#play::after 
{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 72px;
    height: 72px;
    border: solid 2px #d6a04c;
    border-radius: 50%;
}

#play::before
{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 105px;
    height: 105px;
    background-color: rgb(255, 255, 255, 255);
    border-radius: 50%;
    opacity: 0.2;
}

#play:hover {background-color: #d6a04c;}

#play:hover svg {fill: white;}

.ab{ text-align: center; margin-top: 10%;}

.coisadebaixo{ background-color: #d6a04c; width: 50%; height: 12vh; margin-left: 51%; margin-top: 7.5%; display: inline-block; font-size: 22px; color: #fff;}
 .texto1{margin: 20px;}
.texto2{ margin-left: 10vh; }


.pagina2{ height: 80vh; width: 100%;
padding-top: 90px;


}

.titulo{width: 1140px; height: 102; margin-left: auto; margin-right: auto;}

.textoT{width: 475px; height: 102px; -webkit-text-fill-color: aliceblue; font-size: 20px;}

.conjuntotextoimagem{width: 1140px; width: 623px; margin-right: 12px;}


.p2texto1{ color: #fff; display: inline-block; padding-bottom: 1%; font-size: 27px; padding-left: 10%;}
.p2texto2{padding-left: 5%; color: #fff; display: inline-block; font-size: 20px;}

#botao2{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d6a04c;
    background-color: transparent;
    color: #ffffff;
    font-size: 15px;
    padding: 15px;
    margin-top: 2vh;
    margin-left: 1%;
    margin-bottom: 2vh;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: #d6a04c 1px solid;
    
}
#botao2:hover{
    background-color: #d6a04c;
    border: #d6a04c 1px solid;
    color: #ffffff;
}
.p2img1{display:inline-block;padding-right: 5%; padding-left: 8%;}
.p2img2{display: inline-block; }
.divisaobotao{ width: 100%; padding-left: 30.1%;}


.Pagina3
{
    height: 80vh; width: 100%; padding: 10vh;
}

.p3titulo{color: #fff; font-size: 30px; padding-bottom: 4%; padding-left: 10vh;}

.p3img1{ padding-left: 6%;}
.p3img2
{
    padding-left: 1%; padding-right: 1%;
}

.ladoalado{display: inline-block;}
.ladoalado1{display: inline-block;}
.p3botao1{font-size: 30px; color: #fff; padding-right: 20%; padding-left: 10vh; text-decoration:0;}
.p3botao2{font-size: 30px; color: #fff; text-decoration:0;}
.p3botao3{font-size: 30px; color: #fff; text-decoration:0;}
.p3texto1{color: #E9E3D9; padding-left: 50vh;}
.p3texto2{color: #E9E3D9; padding-left: 42vh;}
.p3texto3{color: #E9E3D9; padding-left: 40vh;}

.pagina4{width: 100%; height: 90vh; background-color: #1E1E1E;}

.mindinho{height: 90vh;}
.p4titulo
{
    height: 100vh;
    width: 50%;
    color: #E9E3D9;
}

.p4titulo p 
{
    font-size: 200px;
    color: #1E1E1E;
    text-shadow: -1px -1px 0 #E9E3D9, 1px -1px 0 #E9E3D9, -1px 1px 0 #E9E3D9, 1px 1px 0 #E9E3D9;
    font-family: "Cabin", sans-serif;
    padding-left: 21vh;
    padding-top: 110px;
    position: static;
    margin-bottom: -50px;
}

.p4imagem
{
 height: 60vh;
 width: 130%;
 
 margin-left: 200px;
margin-top: -100%;
margin-bottom: -59%;
}

.coisadebaixodapagina4
{
    background-color: #d6a04c; width: 40%; height: 22vh;  display: inline-block; font-size: 22px; color: #fff; margin-bottom: 300px; margin-top: -200px; margin-left: 200px;
}

.coisadebaixodapagina4 p
{
    font-size: 15px; font-family: "Questrial", sans-serif; margin-left: 8%;
}

.coisadebaixodapagina4 h2
{
    font-size: 30px; 
}

.p4redondinho{height: 5vh; width: 6%; background-color: #ffd76057; border-radius: 50%; margin-left: 90%;}

.p4grandona{ font-family: "Cabin", sans-serif; font-weight: normal; margin-left: 8%; margin-top: 3%;}

.p4redondinho svg{height: 2vh; width: 50%; margin-left: 30%; margin-top: 33%;  }

.pagina5
{
    width: 100%;
    height: 81vh;
}


.pagina5 img {margin-top: 12%; padding: 5%;}
.pagina5 .div1 {display: inline-block; margin-left: 50%; margin-top: -80%;}
.pagina5 .div2 {display: inline-block; }



.p5r{color: #E9E3D9; font-size: 60px;}
.p5c{color: #fff;  font-size: 30px; }

.div1 a{ font-family: Arial, Helvetica, sans-serif;
    background-color: #d6a04c;
    font-size: 15px;
    padding: 15px;
    margin-top: 2vh;
    margin-left: 1%;
    vertical-align: middle;
    margin-bottom: 2vh;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.div1 a:hover{
    background-color: transparent;
    border: #d6a04c 1px solid;
    color: #d6a04c;
}

.p5m{margin: 45%;}

#pagina6{ background-color: #1E1E1E; height: 50vh; width: 100%;}

.p6img1{fill:  #d6a04c; margin-left: 45%; margin-top: 7%; margin-bottom: 1%;}
.p6img2{margin-left: 42%; padding: 1%;} 
#pagina6 p{color: #E9E3D9;}
.p6texto1{margin-left: 40%;}
.p6texto2{margin-left: -10%; font-size: 25px; text-align: center;}





#pagina7{height: 80vh; width: 100%;}

#pagina7 div {width: 70%;height: 30vh; box-sizing: 10px; border: #ffffff 1px solid; margin-left: 15%;}



.p7a{margin-top: -13%; margin-left: 22%;  color: #fff; }
.p7b{font-size: 25px; margin-left: 22%;  color: #fff; }
.p7c{margin-left: 22%;  color: #fff; }

.p7img{padding: 2%;}


#pagina8{background-color: #1E1E1E; height: 50vh;}

#pagina8 img {margin-left: 15%; margin-top: 7%;}
#pagina8 ul {color: #fff; font-size: 20px; list-style: none;}
#pagona8 li{color: #fff;}
.ul1{margin-left: 25%; margin-top: -2%; }
.ul2{margin-left: 40%; margin-top: -11%;}
.li1{padding: 1%; font-size: 15px;}
.li2{margin: 1%; font-size: 15px;}
#pagina8 h1{color: #fff; margin-left: 60%; font-size: 25px; margin-top: -5%; padding-bottom: 2%;}
#pagina8 p{color: #fff; margin-left: 60%; opacity: 0.4;}